<div class="container" *ngIf="allPokemon">
  <div class="card" *ngFor="let pokemon of allPokemon">
    <div class="card-header">
      <div class="card-image">
        <img src="{{ pokemon.sprites.front_default }}" alt="pokemon picture" />
      </div>
    </div>
    <div class="card-body">
      <h1 class="card-title">
        {{ pokemon.name }}<small> #{{ pokemon.id }}</small>
      </h1>
      <div class="badge-container">
        <div class="card-badge" *ngFor="let type of pokemon.types">
          <app-badge [type]="type.type.name"></app-badge>
        </div>
      </div>
    </div>
  </div>
</div>
