<div class="dex">
  <div class="dex-left">
    <div class="dex-panel-1">
      <div class="dex-circle"></div>
    </div>
    <div class="dex-panel-2"></div>
    <div class="dex-panel-3">
      <div id="dex-cursor-up" class="cursor">
        <i class="fa fa-arrow-up"></i>
      </div>
      <div id="dex-cursor-right" class="cursor">
        <i class="fa fa-arrow-right"></i>
      </div>
      <div id="dex-cursor-down" class="cursor">
        <i class="fa fa-arrow-down"></i>
      </div>
      <div id="dex-cursor-left" class="cursor">
        <i class="fa fa-arrow-left"></i>
      </div>
    </div>
  </div>
  <div class="dex-right">
    <div class="dex-stats"></div>
    <div class="dex-input">
      <input type="text" />
    </div>
    <div class="dex-buttons">
      <div class="button"></div>
      <div class="button"></div>
      <div class="button"></div>
      <div class="button"></div>
    </div>
    <div class="exit-buttons">
      <div class="button">Home</div>
      <div class="button">Sound</div>
    </div>
  </div>
</div>
