.badge {
  background-color: red;
  width: min-content;
  border-radius: 25%;
  border-style: double;
  border-color: black;
  padding: 0.5%;
  margin:auto;
  .type-text {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
